<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Home</title>
</head>
<body>
<div align="right">
		<a th:href="@{/Logout}">Log-out</a>
	</div>
	<h1>Admin Home Page</h1>
	<div>
	
	<a th:href="@{/CreateProductPage}">Create a new product</a>
	<br>
	<a th:href="@{/DeleteProductPage}">Delete a product</a>
	<br>
	<a th:href="@{/InspectionPage}">Statistics</a>
	<br>
	<!-- <a th:href="@{/LoginRecordPage}">Check the login record of your users</a> -->
	<br>	
	</div>
</body>
</html>