<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Statistics</title>
</head>
<body>
<div align="right">
	<a th:href="@{/AdminHome}">Back</a>
		<a th:href="@{/Logout}">Log-out</a>
	</div>
	<h1>Statistics</h1>
	
	<form action="#" th:action="@{/LoadPastQuestionnaire}" method="POST">
			<fieldset>
				<p>
					Select a past questionnaire to load statistics
				</p>
				<p>
					<label for="products">Choose a questionnarie:</label> 
					<select name="productId" id="productId">
						<option th:each="p : ${products}" th:value="${p.getId()}"
							th:text="${p.getName()}"></option>
					</select>
					<td th:text="${noProduct}"></td>
				</p>
				<input type="submit" name="Load statictics">
			</fieldset>
		</form>
		
		<br>
	
	<table>
		<tr>
				 <td th:text="${questionnaire}"></td>		
		</tr>
		<br>
		<tr> <td th:text="${submitted}"></td><td th:text="${answers}"></td></tr>
		<tr th:each="u : ${usersS}">
			<td th:text="${u.getUser().getUsername()}"></td>
			<td th:text="${u.getDaily_points()}"></td></tr>
		<tr> <td th:text="${cancelled}"></td></tr>
		<tr th:each="g : ${usersC}">
			<td th:text="${g.getUsername()}"></td></tr>
	</table>


</body>
</html>