<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your profile</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Home}">Home</a>
	</div>
	<h1>Your profile</h1>
	<div>
	
	<!-- 
			<form th:action="@{/ChangeProfile}" method="POST">
			First name: <input type="text" name="name" th:value="${session.user.getName()}">
			<br> Last name: <input type="text" name="surname" th:value="${session.user.getSurname()}">		
			<button type="submit" name="action" value="submit">Update Profile</button>
		</form>
	 -->
	 
	 	Username: <b th:text=" ${UserUsername}"></b> <br>
	 	Email: 	<b th:text=" ${UserEmail}"></b> <br>
	 	Password: <b th:text=" ${UserPassword}"></b>
	 	
	 	<form action="#" th:action="@{/GoToProfilePage}" method="POST">
				<fieldset>
					<input type="submit" name="ShowHide" value="Show/Hide">
				</fieldset>
			</form> <br>
	 	
	 	Total Points: <b th:text=" ${UserPoints}"></b> <br>
	 	
	 	

		
	</div>
</body>
</html>