<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Questionnaire</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Home}">Home</a>
	</div>
	<h1>Second Section. Complete the questionnarie</h1>


	<div>
		<form action="#" th:action="@{/QuestionnaireAction}" method="GET">
			<fieldset>


				<div th:if="${ageCompiled}=='false'">
					<p th:text= "${age}"></p>
					<input type="text" name="age" min="14">
				</div>

				<div th:if="${ageCompiled}=='true'">
					<p th:text=" ${age}"></p>
					<input type="text" name="age" min="14" value= "${ageValue}">
				</div>


				<p th:text=" ${gender}"></p>
				<input type="radio" id="male" name="gender" value="male"> <label
					for="male">Male</label> <input type="radio" id="female"
					name="gender" value="female"> <label for="female">Female</label>
				<input type="radio" id="other" name="gender" value="other">
				<label for="other">Other</label>


				<p th:text=" ${expertiseLevel}"></p>
				<input type="radio" id="Low" name="expertiseLevel" value="Low">
				<label for="Low">Low</label> <input type="radio" id="Medium"
					name="expertiseLevel" value="Medium"> <label for="Medium">Medium</label>
				<input type="radio" id="High" name="expertiseLevel" value="High">
				<label for="High">High</label>


				<p>
				<input type="submit" name="decision" value="Submit">
					<input type="submit" name="decision" value="Previous">  <input
						type="submit" name="decision" value="Cancel">
				</p>

			</fieldset>
		</form>
	</div>

</body>
</html>